@import url(//fonts.googleapis.com/css?family=Noto+Sans);
@import url(//fonts.googleapis.com/css?family=Lobster);

.container{
  width:100%;
  height:1200px;
  position: relative;
  padding: 0px 150px 0px 150px; 
}

.header{
    width:100%;
    height:142px;
    background-color: #EEE;
    border:2px solid #EEEEEE;
    position:relative;
}
.content-main{
    width:100%;
    height: 940px;
    position:relative;
    border:2px solid gray;
}

.adds{
    height: 105%;
    width:100%;
    border:2px solid gray;
}
#add_box{
   height: 45%;
    width: 100%;
    margin-left: 15px;
    margin-top: 5px;
    display: inline-flex;
}
#add_box img{
   height: 40px;
    width: 177px;
    display: inline-flex;
}
.name{
    text-align: left;
    color:slategray;
    width:88%;
    height:65px;
    padding-top: 18px;

}
.price{
    text-align: left;
    color:slategray;
    width:100%;
    height:20px;
    color:dodgerblue;
    margin-top: -5px;
}
.desc{
    text-align: left;
    color:slategray;
    width:100%;
    float: left;
    height: 42px;
}
.btn{
    background-color: red;
    color:white;
    float: left;
    height: 32px;
    width:100px;
    border:2px solid red;
    text-align: center;
    font-weight: bolder;
}
.footer{
    width:100%;
    height:80px;
    position:relative;
}
.footer-bottom{
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    border:1px solid;
    width:100%;
}
/**----ul----**/
.navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
padding-bottom: 10px;    
/*text-align: center;*/
}

.navcontainer ul li { display: inline-flex; }

.navcontainer ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}

.navcontainer ul li a:hover
{
color: #fff;
background-color: #369;
}

.submenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border:1px solid #337AB7;
    background-color: white;
}

.submenu li {
    float: left;
}

.submenu li a {
    display: inline-block;
    color: steelblue;
    text-align: center;
    padding: 10px 26px;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: white;
}

/**----ul----**/

.filter{
    padding-top:5px;
    display: -webkit-inline-box;
    width:30%;
}
.car_wrap {
    position: relative;
    padding-top:15px;
    overflow: hidden;
}
.content.page1 .car_wrap h2 {
    padding-left: 10px;
    padding-top: 23px;
    padding-bottom: 3px;
}
.prev {
    background: url(../images/prevnext.png) 0 bottom no-repeat;
    display: block;
    position: absolute;
    right: 42px;
    top: 9px;
    width: 32px;
    z-index: 999;
    height: 30px;
}
.next {
    background: url(../images/prevnext.png) right bottom no-repeat;
    display: block;
    z-index: 999;
    position: absolute;
    right: 10px;
    top: 9px;
    width: 32px;
    height: 30px;
}
.carousel1 li {
    float: left;
    width: 295px !important;
    font-size: 16px;
    height: 265px !important;
    padding-left:48px;
}
.clear {
    float: none !important;
    clear: both;
}
#img{
    width:100%;
    padding:0px 0px 0px 0px;
}

.grid_view{
    overflow: auto; 
    max-height: 540px;
}
.grid_view #data{
    width:25%; padding-left:50px;
}
hr{
    width:100%; height:5px;
    background-color:cadetblue;
}
#top-hed{
    text-align: center;
    color: red;
    background-color: azure;
    margin-top: -34px;
    height: 40px;
}
/* grid css*/
body {
  min-width: 960px;
}

.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
    float: left;
    width: 100%;
    padding:35px 0px 0px 0px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
  position: relative;
}

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

.container_12 .grid_1 {
  width: 60px;
}

.container_12 .grid_2 {
  width: 140px;
}

.container_12 .grid_3 {
  width: 220px;
}

.container_12 .grid_4 {
  width: 300px;
}

.container_12 .grid_5 {
  width: 380px;
}

.container_12 .grid_6 {
  width: 460px;
}

.container_12 .grid_7 {
  width: 540px;
}

.container_12 .grid_8 {
  width: 620px;
}

.container_12 .grid_9 {
  width: 700px;
}

.container_12 .grid_10 {
  width: 780px;
}

.container_12 .grid_11 {
  width: 860px;
}

.container_12 .grid_12 {
  width: 100%;
}


.container_12 .prefix_1 {
  padding-left: 80px;
}

.container_12 .prefix_2 {
  padding-left: 160px;
}

.container_12 .prefix_3 {
  padding-left: 240px;
}

.container_12 .prefix_4 {
  padding-left: 320px;
}

.container_12 .prefix_5 {
  padding-left: 400px;
}

.container_12 .prefix_6 {
  padding-left: 480px;
}

.container_12 .prefix_7 {
  padding-left: 560px;
}

.container_12 .prefix_8 {
  padding-left: 640px;
}

.container_12 .prefix_9 {
  padding-left: 720px;
}

.container_12 .prefix_10 {
  padding-left: 800px;
}

.container_12 .prefix_11 {
  padding-left: 880px;
}

.container_12 .suffix_1 {
  padding-right: 80px;
}

.container_12 .suffix_2 {
  padding-right: 160px;
}

.container_12 .suffix_3 {
  padding-right: 240px;
}

.container_12 .suffix_4 {
  padding-right: 320px;
}

.container_12 .suffix_5 {
  padding-right: 400px;
}

.container_12 .suffix_6 {
  padding-right: 480px;
}

.container_12 .suffix_7 {
  padding-right: 560px;
}

.container_12 .suffix_8 {
  padding-right: 640px;
}

.container_12 .suffix_9 {
  padding-right: 720px;
}

.container_12 .suffix_10 {
  padding-right: 800px;
}

.container_12 .suffix_11 {
  padding-right: 880px;
}

.container_12 .push_1 {
  left: 80px;
}

.container_12 .push_2 {
  left: 160px;
}

.container_12 .push_3 {
  left: 240px;
}

.container_12 .push_4 {
  left: 320px;
}

.container_12 .push_5 {
  left: 400px;
}

.container_12 .push_6 {
  left: 480px;
}

.container_12 .push_7 {
  left: 560px;
}

.container_12 .push_8 {
  left: 640px;
}

.container_12 .push_9 {
  left: 720px;
}

.container_12 .push_10 {
  left: 800px;
}

.container_12 .push_11 {
  left: 880px;
}


.container_12 .pull_1 {
  left: -80px;
}

.container_12 .pull_2 {
  left: -160px;
}

.container_12 .pull_3 {
  left: -240px;
}

.container_12 .pull_4 {
  left: -320px;
}

.container_12 .pull_5 {
  left: -400px;
}

.container_12 .pull_6 {
  left: -480px;
}

.container_12 .pull_7 {
  left: -560px;
}

.container_12 .pull_8 {
  left: -640px;
}

.container_12 .pull_9 {
  left: -720px;
}

.container_12 .pull_10 {
  left: -800px;
}

.container_12 .pull_11 {
  left: -880px;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after {
  clear: both;
}


.clearfix,
.container_12 {
  zoom: 1;
}
/*====reset======*/
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align: top; height:152px;
   }embed {vertical-align:top;}input[type=text], textarea{ outline:none;border-radius:0;}

/*------cart css-------*/
.cart_container {
	margin:0px auto;
    width:600px;
    padding-top:45px;
}
.cart_box{
    padding-bottom:20px;
    width:100%;
}
.msg{
    padding-bottom:15px;
}
#tab{width:120%; margin-left: -68px;}
.cart_items{
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
    background-color:#E1E1E1;
    width:100%;
    border:1px solid;
}
#prod{
    height:70px;
    width:80px;
}
#prod img{
    height:82px;
    padding-bottom: 12px;
    padding-left: 10px;
}
.opt_btn{
    width: 30px;
    height: 28px;
    margin-left: 15px;
}
.t-item{
    padding-left:65px;
}
h1{font-size: 35px;}

h2{
    font-size: 35px; 
    padding-bottom:22px;
    margin-top:50px;
}
b{padding-left:147px;}

.cart {
	display: block;
    background: url(../images/cart-icon.png) no-repeat 28px 5px;
    width:50px;
    height:28px;
    color: #fff;
    font-family: Arial;
    font-size: 16px;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
}
.cart:hover{
	background: #808080 url(../images/cart-icon.png) no-repeat 28px 5px;
}

/*----------slider-----------*/

.slider-relative {
	position:relative;
	overflow:hidden;
	margin: 0 auto;
}
.items {
	display: none;	
}
.slider-block {
	position:relative;
	overflow:hidden;
	height: 625px;
	margin: 0 auto;
}
.slider {
	z-index:2;
	height: 625px;
	position: absolute;
	left: 50%;
	margin-left: -800px;
	width: 1600px;
}
.slider .banner{
	position: absolute;
	z-index: 1 !important;
	background: url(../images/banner_bg.png) 0 0 repeat;
	left: 0;
	width: 210px;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	right: 0;
	top: 402px;
	width: 100%;
}
.banner h2 {
	color: #fff;
	font-size: 21px;
	line-height: 38px;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	padding-bottom: 26px;
	text-align: center;
	padding: 11px 60px 10px ;
}

.banner h2 span {
	color: #e5ad2a;	
}
.pagination {
bottom: 0px;
position: absolute;
left: 50%;
margin-left: -51px;
z-index: 999;
}
.pagination li {
	float: left;
}
.pagination li+li {
	margin-left: 15px;
}

.pagination  li a{
	width: 24px;
	display: block;
		transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
	height: 23px;
	background: url(../images/pagination.png) right 0 no-repeat;
}
.pagination li a:hover, .pagination li.current a {
	background-position: 0 0;
}

/*======responsive css======*/
@media screen and (max-width: 480px) and (min-width: 320px)
{
    body{width:400px;}
.container{
  width:100%;
  height:816px !important;
  position: relative;
  padding:0px 0px 0px 0px;    
}

.header{
    width:455px !important;
    height:135px !important;
    background-color: #EEE;
    border:2px solid #EEEEEE;
    position:relative;
}
.content-main{
    width:455px !important;
    height: 640px !important;
    position:relative;
    border:2px solid gray;
}
.adds{
    height: 75% !important;
    width:100% !important;
    border:2px solid gray;
}
#add_box{
   height: 26% !important;
    width: 455px !important;
    margin-left: 16px;
    margin-top: 2px;
    display: inline-flex;
}
#add_box img{
   height: 22px !important;
    width: 46px !important;
    display: inline-flex;
}
.name{
    text-align: left;
    color:slategray;
    width:50%;
    height:60px;
    padding-top: 10px;

}
    .name h3{
        font-size:8px;
    }
.price{
    text-align: left;
    color:slategray;
    width:100%;
    height:20px;
    color:dodgerblue;
    margin-top: -2px;
}
    .price h3{
        font-size:10px;
    }
.desc{
    text-align: left;
    color:slategray;
    width:100%;
    float: left;
    height: 32px;
}
.btn{
    background-color: red;
    color:white;
    float: left;
    height: 27px;
    width:85px;
    border:1px solid red;
    text-align: center;
    font-weight: bolder;
}
.footer{
    width:455px;
    height:60px;
    position:relative;
}
.footer-bottom{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}
.navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
padding-bottom: 28px;    
/*text-align: center;*/
}

.navcontainer ul li { display: inline-flex; }

.navcontainer ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}

.navcontainer ul li a:hover
{
color: #fff;
background-color: #369;
}
    
.submenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border:1px solid #337AB7;
    background-color: white;
    padding-bottom: 6px;
    margin-top: -23px;
}

.submenu li {
    float: left;
}

.submenu li a {
    display: inline-block;
    color: steelblue;
    text-align: center;
    padding: 0px 8px;
    text-decoration: none;
    font-size: smaller;
}

.submenu li a:hover {
    background-color: white;
}

.filter{
    padding-top: 1px;
    display: -webkit-inline-box;
    width: 145px;
}
.car_wrap {
    position: relative;
    padding-top:15px;
    overflow: hidden;
    height:190px !important;
}
.content.page1 .car_wrap h2 {
    padding-left: 10px;
    padding-top: 23px;
    padding-bottom: 3px;
}
.prev {
    background: url(../images/prevnext.png) 0 bottom no-repeat;
    display: block;
    position: absolute;
    right: 24px;
    top: 0px;
    width: 22px;
    z-index: 999;
    height: 30px;
}
.next {
    background: url(../images/prevnext.png) right bottom no-repeat;
    display: block;
    z-index: 999;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 22px;
    height: 30px;
}
.carousel1 li {
        float: left;
    width: 108px !important;
    font-size: 16px;
    height: 201px !important;
    padding-left: 0px;
}
img {
    vertical-align: top;
    height: 70px;
}
.clear {
    float: none !important;
    clear: both;
}
#img{
    width:50%;
    padding:0px 0px 0px 0px;
}
h2{
    font-size: 35px; 
    padding-bottom:22px;
    margin-top:50px;
    margin-right:50%;
} 
#bil{margin-right: 50%;}    
.cart_container {
	margin:0px auto;
    width:100%;
    padding-top:45px;
}
.cart_box{
    padding-bottom:20px;
    width:50%;
}

.cart {
	display: block;
    background: url(../images/cart-icon.png) no-repeat 28px 5px;
    width:50px;
    height:28px;
    color: #fff;
    font-family: Arial;
    font-size: 16px;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
}
.cart:hover{
	background: #808080 url(../images/cart-icon.png) no-repeat 28px 5px;
}
    
#tab{width:20%;margin-left:22px;}
    
.msg{
    padding-bottom:15px;
}
.cart_items{
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
    background-color:#E1E1E1;
    width:100%;
    border:1px solid;
}
h1{font-size: 35px;}
h2{
    font-size: 35px; 
    padding-bottom:22px;
    margin-top:50px;
}
    
b{padding-left:75px;} 
    
.cart {
	display: block;
    background: url(../images/cart-icon.png) no-repeat 20px 5px;
    padding: 22px 45px 0px 8px;
    border-radius: 30px;
    color: #fff;
    font-family: Arial;
    font-size: 16px;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
}
.cart:hover{
	background: #808080 url(../images/cart-icon.png) no-repeat 20px 5px;
}
.grid_view{
    overflow: auto; 
    max-height: 375px;
    
}
.grid_view #data{
    width: 24%;
    padding-left: 34px;
    display: inline-block;
}
hr{
    width:100%; height:5px;
    background-color:cadetblue;
}
#top-hed{
    text-align: center;
    color: red;
    background-color: azure;
    margin-top: -34px;
    height: 20px;
    width:451px !important;
} 
.clearfix, .container_12 {
    zoom: 1;
}
.container_12 {
    margin-left: 0px;
    margin-right: 0px;
    width: 455px;
}    
.container_12 .grid_12 {
    width: 455px;
} 

}
